.card{
width: 600px ;
margin:  0 2rem;
height: 600px;
padding: 20px;
}


.card-img-top{
    height: 300px;
    width: 330px;
    position: center;
}
.card-title{
    font-size: 20px;
    color: black;
}
.card-text{
    font-size: 15px;
    color: grey;
    
}
