.card{
width: 600px ;
margin:  0 2rem;
height: 800px;
padding: 0;
background-color: whitesmoke;
}


.card-img{
    height: 450px;
    width: 361px;
    position: center;
}
.card-title{
    font-size: 20px;
    color: black;
}
.card-text{
    font-size: 15px;
    color: grey;
    
}
